body {
  font-family: 'Rubik', sans-serif !important;
  background-color: rgba(208, 235, 255, 0.13) !important;
  background-position: center;
  overflow-x: hidden;
}

button:focus {
  outline: none !important;
}

.btn-outline-info:not(:disabled):not(.disabled).active:focus{
  -webkit-box-shadow: none !important;
  box-shadow: none;
}
.btn:focus:active{
  outline:0;
  -webkit-box-shadow: none !important;
  box-shadow: none;
}
label {
  font-weight: bold !important;
}

